@import "globals";

.navbar {
  width: 33vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.links {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

@media screen and (max-width: 900px) {
  .links {
    flex-direction: column;
  }
}

.collapsable {
  margin: 0 2rem;
}
